/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

html {
  margin: 0;
  width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  width: 100%;
  margin: 0;
}

header {
  background-color: #009CB5;
  text-decoration: none;
  padding: 50px;
  color: white;
  height: 155px;
}

.logo {
  color: white;
  font-size: 36px;
  padding-left: 20px;
  text-decoration: none;
}

h2 {
  font-size: 28px;
  font-weight: 300;
  padding-left: 25px;
}

.nav {
width: 100%;
}

.nav ul {
  list-style: none;
  background-color: #111;
  padding-left: 600px;
  padding-bottom: 20px;
  margin: 0;
}

.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  text-align: left;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding-left: 15px;
  border-bottom: 1px solid #888;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #009CB5;
}

.nav a.active {
  background-color: #aaa;
  color: #444;
  cursor: default;
}

/* Sub Menus */
.nav li li {
  font-size: .8em;
}

  .nav li {
    width: 130px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    display: inline-block;
    margin-right: -4px;
    width: 150px;
    padding-top: 10px;
    font-family: 'Roboto', sans-serif;
  }

  .nav a {
    border-bottom: none;
  }

  .nav li {
    text-align: center;
  }

  .nav > ul > li > a {
    padding-left: 0;
  }

  /* Sub Menus */
  .nav li ul {
    position: absolute;
    display: none;
    width: inherit;
  }

  .nav li:hover ul {
    display: block;
  }

  .nav li ul li {
    display: block;
  }

.nav li ul {
    position: absolute;
    display: none;
    width: inherit;
  }

  .nav li:hover ul {
    display: block;
  }

  .nav li ul li {
    display: block;
  }

  .submenu {
    color: white;
    display: block;
  }

/*.active {
    background-color: #4CAF50;
}*/

.openingstatement {
  text-align: center;
  font-size: 24px; 
}

.trailer {
  text-align: center; 
}

hr {
  border: solid #009CB5 5px;
  width: 100%;
  margin: 30px;
  text-align: center;
}

.calltoaction {
  font-size: 28px;
  padding: 35px;
  padding-top: 20px;
  text-align: center;
  color: white;
  width: 400px;
  height: 200px;  
  background-color: #009CB5;
  float: right;
  margin-bottom: 30px;
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 8px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.videoalign {
  text-align: center;
  margin: 0 auto;
  display: block;
}

.videobtn {
  font-family: 'Roboto', sans-serif;
  background: none;
  border: 3px solid #009CB5;
  color: #009CB5;
  font-size: 28px;
  font-weight: 400;
  margin: 0 auto;
  display: block;
  padding: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
}

footer {
  background-color: #009CB5;
  height: 300px;
}

.footerlogo {
  text-align: center;
  padding-top: 50px;
  color: white;
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.social {
  display: inline-block;
  list-style: none;
  color: white;
  float: right;
  margin-right: 300px;
  margin-left: -240px;
}

/*applyintern.html*/

.intropara {
  padding-left: 20px;
  font-size: 24px;
}

.benefits {
  padding-left: 20px;
  font-size: 24px;
}

.benefitslist {
  padding-left: 45px;
  font-size: 18px;
}

.eventintern {
  float: left;
  border: solid white 5px;
  height: 400px;
  width: 50%;
  padding-left: 20px;
  font-size: 18px;
}

.marketingintern {
  float:right;
  border: solid white 5px;
  height: 400px;
  width: 50%;
  padding-left: 20px;
  font-size: 18px;
}

.applylist {
  list-style: circle;
  padding-left: 20px;
}

.random {
  color: white;
}

.toapply {
  font-size: 24px;
  font-weight: 400;
  padding-top: 20px;
}

.internpic {
  padding-left: 350px;
  width: 1000px;
  height: auto;
  padding-top: 35px;
}

/*watchvideos.html*/

.video {
  width: 33%;
  float: left;
  text-align: center;
  margin: 0 auto;
  display: block;
  height: auto;
  padding-top: 20px;
}

.readmore, .readless {
  text-align: right;
  margin-top: 30px;
}
.readmore a, .readless a {
  color: #043049;
  font-weight: 600;
  padding: 30px;
}

.hide {
  display: none;
}

.videoline {
color: white;
padding: 1px;
border: none;
width: 100%;
}

.vidhr {
  color: white;
  padding: .5px;
  border: none;
  width: 100%;
}

/*applyrpcv.html*/

.rpcv {
  list-style: none;
}

.rpcvpara {
  float: left;
  width: 50%;
  padding: 50px;
  padding-bottom: 70px;
}

.rpcvpic {
  float: left;
  width: 50%;
  padding-bottom: 70px;
}

.rpcvpicimg{
  width: 500px;
  height: 350px;
}
/*
about.html
*/

.tagline {
  padding: 20px;
}

.aboutsection {
  padding-left: 40px;
}