/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: #009CB5;
  text-decoration: none;
  padding: 50px;
  color: white;
  height: 280px;
}

.logo {
  color: white;
  font-size: 36px;
  padding-left: 20px;
  text-decoration: none;
}

h2 {
  font-size: 28px;
  font-weight: 300;
  padding-left: 25px;
}

.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  text-align: left;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding-left: 15px;
  border-bottom: 1px solid #888;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #005f5f;
}

.nav a.active {
  background-color: #aaa;
  color: #444;
  cursor: default;
}

/* Sub Menus */
.nav li li {
  font-size: .8em;
}

/*******************************************
   Style menu for larger screens

   Using 650px (130px each * 5 items), but ems
   or other values could be used depending on other factors
********************************************/

@media screen and (min-width: 650px) {
  .nav li {
    width: 130px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    display: inline-block;
    margin-right: -4px;
  }

  .nav a {
    border-bottom: none;
  }

  .nav > ul > li {
    text-align: center;
  }

  .nav > ul > li > a {
    padding-left: 0;
  }

  /* Sub Menus */
  .nav li ul {
    position: absolute;
    display: none;
    width: inherit;
  }

  .nav li:hover ul {
    display: block;
  }

  .nav li ul li {
    display: block;
  }

/*.nav {
  margin: 0;
  padding: 0;
}

.nav li {
  list-style: none;
  padding: 8px;
  display: block;
  float: right;
}

.nav a {
  text-decoration: none;
   color: white;
}

li a:hover {
  background-color: #111;
}*/


/*.submenu {
  position: absolute;
  display: none;
  width: inherit;
}

.nav li:hover ul {
  display: block;
}
*/
.nav li ul {
    position: absolute;
    display: none;
    width: inherit;
  }

  .nav li:hover ul {
    display: block;
  }

  .nav li ul li {
    display: block;
  }
}


.active {
    background-color: #4CAF50;
}


.openingstatement {
  text-align: center;
  font-size: 24px; 
}

.trailer {
  text-align: center; 
}

hr {
  border: solid #009CB5 5px;
  width: 100%;
  margin: 30px;
  text-align: center;
}

.calltoaction {
  font-size: 28px;
  padding: 35px;
  padding-top: 20px;
  text-align: center;
  color: white;
  width: 400px;
  height: 200px;  
  background-color: #009CB5;
  float: right;
  margin-bottom: 30px;
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 8px;
  font-family: 'Roboto', sans-serif;
}

.videoalign {
  text-align: center;
  margin: 0 auto;
  display: block;
}

.videobtn {
  font-family: 'Roboto', sans-serif;
  background: none;
  border: 3px solid #009CB5;
  color: #009CB5;
  font-size: 28px;
  font-weight: 400;
  margin: 0 auto;
  display: block;
  padding: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
}

footer {
  background-color: #009CB5;
  height: 300px;
}

.footerlogo {
  text-align: center;
  padding-top: 50px;
  color: white;
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.social {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  list-style: none;
}

/*applyintern.html*/

body {
  font-family: 'Roboto', sans-serif;
}

.intropara {
  padding-left: 20px;
  font-size: 24px;
}

.benefits {
  padding-left: 20px;
  font-size: 24px;
}

.benefitslist {
  padding-left: 45px;
  font-size: 18px;
}

.eventintern {
  float: left;
  border: solid white 5px;
  height: 400px;
  width: 50%;
  padding-left: 20px;
  font-size: 18px;
}

.marketingintern {
  float:right;
  border: solid white 5px;
  height: 400px;
  width: 50%;
  padding-left: 20px;
  font-size: 18px;
}

.applylist {
  list-style: circle;
  padding-left: 20px;
}

.random {
  color: white;
}

.toapply {
  font-size: 24px;
  font-weight: 400;
  padding-top: 20px;
}

.internpic {
  padding-left: 350px;
  width: 1000px;
  height: auto;
  padding-top: 35px;
}
