/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: #009CB5;
  text-decoration: none;
  padding: 50px;
}

h1 {
  color: white;
  font-size: 36px;
  padding-left: 20px;
  padding-top: 20px;
}

h2 {
  color: white;
  font-size: 28px;
  font-weight: 400;
  padding-left: 20px;
}

nav {
  position: static;
  height: 50px;
  padding: 30px 30px;
  font-size: 24px;
  font-weight: 600;
  color: black;
  float: right;
}

.navigation {
  display: inline;
  padding: 40px;

}

.openingstatement {
  text-align: center;
  font-size: 24px; 
}

.trailer {
  text-align: center; 
}

.calltoaction {
  font-size: 24px;
  padding-top: 30px;
  text-align: center;
  color: white;
  width: 400px;
}

.firstcall {
  float: right;
  border: solid white 20px;
  padding: 45px; 
  padding-top: 20px;
  height: 200px; 
  background-color: #009CB5;
}

.secondcall {
  float: right;
  border: solid white 20px;
  padding: 45px; 
  padding-top: 20px;
  height: 200px;
  background-color: #009CB5;
}

.thirdcall {
  float: right;
  border: solid white 20px;
  padding: 45px; 
  padding-top: 20px;
  height: 200px;
  background-color: #009CB5;
  width: 400px;
}

.videoalign {
  text-align: center;
  margin: 0 auto;
  display: block;
}

.videobtn {
  font-family: 'Roboto', sans-serif;
  background: none;
  border: 3px solid #009CB5;
  color: #009CB5;
  font-size: 28px;
  font-weight: 400;
  margin: 0 auto;
  display: block;
  padding: 30px;
}



